:root {
    --main-font: "Roboto", sans-serif;
    --primary--color: #000000;
    --secondary-color: #436850;
}

* {
    margin: 0;
    padding: 0;
}

/*  */
.container__curriculum {
    font-family: var(--main-font);
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary--color);
    text-align: center;
    padding: 4% 12%;
}

.container__name {

}

.container__info {
    padding: 4% 0 2% 0;
    text-align: left;
}

.container__info__list {
    list-style-type: none;
}

.container__info__list__item {
    display: flex;
    margin-bottom: 2px;
    
}
.container__info__link {
    text-decoration: none;
    padding-left: 4px;
}

.container__content {
    text-align: left;
}

h3,h4{
    padding: 3% 0 3% 0;
}

.container__content__divider {
    padding: 0 0 8% 0;
}

.container__content__experience {
    padding: 0 0 1% 0;
}

.container__content__company {
    color: var(--secondary-color);
}

.rodape {
    color: var(--primary--color);
    font-size: 1.5em;
    text-align: center;
    padding: 0 0 2em 0;
}

.rodape__version {
    font-size: 0.5em;
}